/* This CSS is common to all pages */

:root {
    /* Global CSS vars */
    --default-font: "Source Sans Pro", sans-serif;
    --title-font: "Source Serif Pro", serif;
    --default-font-size: 16px;
    --title-font-weight: 400;
    --title-font-size: 48px;

    /* Teaser CSS vars */
    --teaser-button-background: #2954ff;
    --teaser-button-border-radius: 1.56em;
    --teaser-button-border: 2px solid #2954ff;
    --teaser-button-padding: .5625em 1em .6875em;
    --teaser-button-hover-background: royalblue;
    --teaser-button-hover-border: 2px solid royalblue;
    --teaser-button-color: white;

    --teaser-second-button-background: none;
    --teaser-second-button-border: 2px solid white;
    --teaser-second-button-hover-background: white;
    --teaser-second-button-hover-border: 2px solid white;
    --teaser-second-button-hover-color: black;

    --teaser-text-color: white;
    --teaser-height: 32rem;
    --teaser-pre-title-color: #fff;
    --teaser-pre-title-font-size: .625em;
    --teaser-pre-title-font-weight: 400;
    --teaser-pre-title-text-transform: uppercase;
    --teaser-font: var(--default-font);
    --teaser-title-font: var(--title-font);
    --teaser-font-size: var(--default-font-size);
    --teaser-title-font-size: 36px;
    --teaser-title-font-weight: var(--title-font-weight);

    /* Teaser alt CSS vars */
    --teaser-alt-button-background: #2954ff;
    --teaser-alt-button-border-radius: 1.56em;
    --teaser-alt-button-border: 2px solid #2954ff;
    --teaser-alt-button-padding: .5625em 1em .6875em;
    --teaser-alt-button-hover-background: royalblue;
    --teaser-alt-button-hover-border: 2px solid royalblue;
    --teaser-alt-button-color: white;

    --teaser-alt-second-button-background: transparent;
    --teaser-alt-second-button-border: 2px solid #455a64;
    --teaser-alt-second-button-color: #455a64;
    --teaser-alt-second-button-hover-background: #455a64;
    --teaser-alt-second-button-hover-border: 2px solid #455a64;
    --teaser-alt-second-button-hover-color: #fff;

    --teaser-alt-text-color: black;
    --teaser-alt-pre-title-color: #222;
    --teaser-alt-pre-title-font-size: .625em;
    --teaser-alt-pre-title-font-weight: 400;
    --teaser-alt-pre-title-text-transform: uppercase;
    --teaser-alt-font: var(--default-font);
    --teaser-alt-title-font: var(--default-font);
    --teaser-alt-font-size: var(--default-font-size);
    --teaser-alt-title-font-size: 28px;
    --teaser-alt-title-font-weight: var(--title-font-weight);

    /* Separator CSS vars */
    --separator-background-color: #eceff1;
    --separator-thickness: 2px;

    /* Search Bar CSS vars */
    --search-bar-color: #607d8b;
    --search-bar-font-family: var(--default-font);
    --search-bar-focus-outline-color: #2954ff;
    --search-bar-hover-background: white;
    --search-bar-background: #ececec;

    /* Image CSS vars */
    --image-caption-color: #607d8b;
    --image-caption-font-size: .625em;
    --image-font: var(--default-font);

    /* Breadcrumbs CSS vars */
    --breadcrumbs-font-color: rgb(96, 125, 139);
}

body {
    margin: 0;
    font-family: var(--default-font);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a.navigation-link {
    padding: 2px 10px;
    margin-left: -10px;
}

a.navigation-link.is-active {
    color: #000;
}

main {
    transition: opacity 0.1s ease-in;
}

main.page-transition {
    opacity: 0;
}

p {
    line-height: 28px;
}

a {
    color: rgb(41, 84, 255);
}
